filter {  
    # Add events per second metric
    metrics {
        meter => "events"
        add_tag => "metric"
    }
}

output {  
    if "metric" in [tags] {
        stdout {
            codec => line {
                format => "Events per second ingest rate (1/5/15 min avg): %{[events][rate_1m]} | %{[events][rate_5m]} | %{[events][rate_15m]}"
            }
        }
        influxdb {
            host => "localhost"
            port => 8086
            db => "logstash-statistics"
            # use_event_fields_for_data_points => true
            data_points => {
                "rate1m" => "%{[events][rate_1m]}"
                "rate15" => "%{[events][rate_15m]}"
                "total" => "%{[events][count]}
                "category" => "metric"
                "host" => "%{[host]}"
            }
            coerce_values => {
                "rate1m" => "integer"
                "rate15" => "integer"
            }
        }
    }
}